.my-title {
    font-size: 20px;
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.my-subtitle {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    display: block;
    margin-bottom: 50px;

}

@media(max-width:650px) {
    .my-subtitle {
        font-weight: bold;
        font-size: 30px;
    }
}