.about .section-block {
    margin-bottom: 150px;
}

.about-top {
    display: flex;
    gap: 50px;
    margin-bottom: 120px;
}

.about-left {
    width: 500px;
}

.about-left p {
    margin-bottom: 20px;
    line-height: 30px;
}

.about-left .my-subtitle,
.about-left .my-title {
    text-align: left;
}

.about-right {
    display: flex;
    gap: 20px;
}

.about-right img {
    width: 288px;
    height: 410px;
}

.about-right img:nth-child(2) {
    margin-top: 130px;
}

.about-bot {
    display: flex;
    gap: 30px;
    margin-bottom: 120px;
}


.about-item {
    position: relative;
}

.about-item-box {
    width: 495px;
    color: var(--title-color);
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.about-item-box h2 {
    padding-bottom: 20px;
}

.about-item-box p {
    font-size: 16px;
    line-height: 25px;
}

.about-choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.about-choose-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 50px;
    gap: 30px;
}

.about-choose-item {
    padding: 30px;
    border: 1px solid #DCDEDE;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

}

.about-choose-item span {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 50%;
    margin-bottom: 20px;
}

.about-choose-item h2 {
    font-size: 18px;
}

.about-choose-item p {
    font-size: 16px;
    line-height: 25px;
}



.about-founder {
    display: flex;
    gap: 30px;
    margin-bottom: 120px;
}

.about-founder-left {
    width: 85%;
    color: var(--title-color);
    background-color: var(--main-color);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.fouder-text {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}

.about-founder-block {
    display: flex;
    gap: 10px;
    align-items: center;
}

.founder-items {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.founder-item {
    width: 260px;
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--second-color);
}

.founder-item h1 {
    color: var(--main-color);
    font-size: 72px;
    font-weight: bold;
}

.about-team-items {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


.about-team {
    margin-bottom: 120px;
}

.about-team-item h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.about-team-item span {
    margin-bottom: 20px;
    display: block;
}

@media(max-width:1120px) {
    .about-top {
        flex-direction: column;
        align-items: center;
    }

    .about-right {
        display: none;
    }

    .about-left {
        width: 100%;
        padding: 20px;
    }

    .about-item-box {
        width: 70%;
        right: 30px;
    }

    .fouder-text {
        font-size: 24px;
    }

}

@media(max-width:950px) {
    .about-founder {
        flex-direction: column;
        align-items: center;
    }

    .about-founder-left {
        width: 100%;
        gap: 30px;
    }
}

@media(max-width:850px) {
    .about-choose-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-team-items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media(max-width:624px) {
    .about .section-block .my-subtitle {
        width: 100%;
    }

    .about-bot {
        flex-direction: column;
        align-items: center;
    }

    .about-choose-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .founder-items {
        flex-direction: column;
        align-items: center;
    }

    .founder-item {
        width: 100%;
    }

    .about-team-items {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .about-team {
        margin-bottom: 50px;
    }

    .about .section-block {
        margin-bottom: 50px;
    }
}