.section-block {
    padding: 100px;
    background-color: var(--main-bg);
    margin-bottom: 50px;
}

.section-block .my-subtitle {
    color: var(--title-color);
    width: 800px;
}

.section-date {
    color: var(--title-color);
    font-size: 16px;
    opacity: 0.8;
}


@media(max-width:875px) {
    .section-block {
        padding: 20px;
    }

    .section-block .my-subtitle {
        width: 100%;
    }
}